body {
    color: #82a5ca;
    background-image: url("https://media.giphy.com/media/iicDrNGWxHmDrIni6j/giphy.gif");
    background-size: cover;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Orbitron', sans-serif;
}

.btn {
    background: white;
    padding: 10px 12px;
    border: none;
    font-family: inherit;
    font-size: 16px;
}

.underline {
    border-bottom: 4px solid white;
}

#main-logo {
    width: 100px;
}