body {
    color: white;
    background-image: url("universe.jpg");
    background-size: cover;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    background-color: white;
    padding: 8px 10px 8px 10px;
}